<div class="rankings">
  <div id="rankings-logo-div">
    <img src="/img/UVoteLogo.png" style="border:none;height:113px;width:250px; " />
  </div>

  <h1 id="rankings-copy">
    HIGHEST PROPORTION REGISTERED
  </h1>
  <h1 id="rankings-copy">
     SO FAR 2016
  </h1>

  <br>

<% if @user_school.nil? %>
  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <% @schools.each_with_index do |school, index| %>
    <tr><th><%=index + 1%></th><td><%=school.instnm%></td><td><%= school..participation.to_i/@average.to_i%></td></tr>
    <% end %>
  </table>

<% else %>
  <h1 id="rankings-copy">
     Your school, so far!
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <tr><th><%=@user_school.id%></th><td><%=@user_school.instnm%></td><td><%=@user_school.participation.to_i/@average.to_i%></td></tr>
  </table>
    <br>

  <h1 id="rankings-copy">
     The Top 5 Schools, Nationally:
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <% @top_five_schools.each_with_index do |school, index| %>
    <tr><th><%=index + 1%></th><td><%=school.instnm%></td><td><%= school.participation.to_i/@average.to_i %></td></tr>
    <% end %>
  </table>
    <br>


  <h1 id="rankings-copy">
     All schools:
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <% @schools.each_with_index do |school, index| %>
    <tr><th><%=index + 1%></th><td><%=school.instnm%></td><td><%= school.participation.to_i/@average.to_i %></td></tr>
    <% end %>
  </table>
<% end %>
</div>
