<div class="rankings">
  <div id="rankings-logo-div">
    <img src="/img/UVoteLogo.png" style="border:none;height:113px;width:250px; " />
  </div>
<div class="social-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=www.u-vote.org&amp;source=fb-share" title="https://www.facebook.com/sharer/sharer.php?u=www.u-vote.org&amp;source=fb-share" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><img src="/img/share_fb.png" alt="" style="border: none; height: 45px; width: 45px; " /></a>
    </a>
    <a href="https://twitter.com/home?status=I've%20registered%20to%20vote.%20Have%20you?%20Add%20yourself%20to%20your%20University's%20tally%20and%20see%20how%20it%20ranks:%20www.u-vote.org" title="https://twitter.com/home?status=I've registered to vote. Have you? Add yourself to your University's tally and see how it ranks: www.u-vote.org" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
      <img src="/img/share_twitter.png" alt=""/>
    </a>
</div>

  <h1 id="rankings-copy">
    Find a school:
  </h1>
<!--search form-->
<% if @searchResults.nil? %>
    <form method="get" class="search-bar" action="/rankings">
      <input class="search_form" name="search_form" type="text">
      <input type="submit" class="school-search-button" value="Search">
    </form>
<% else %>
    <form method="get" class="search-bar" action="/rankings">
      <input class="search_form" name="search_form" type="text" value="Search schools by name!">
      <input type="submit" class="school-search-button" value="Search">
    </form>
    <h1 id="rankings-copy">
       Search Results:
    </h1>

    <table class="uni-part">
      <tr><th></th><th>University</th><th>Student Voter Participation Rate (relative to average)*</th></tr>
      <% @searchResults.each_with_index do |school, index| %>
      <tr><th></th><td><%=school[:school]%></td><td>
        <% if school[:participation] == 0 %>
          Be the first to rep your school!</td></tr>
        <% else %>
          <%=
          (
          (school[:participation].to_f / school[:enrollment2015].to_f)/ @RRavg
          ).round(2)
          %></td></tr>
        <% end %>
      <% end %>
    </table>
    <p class="rate-legend">
      *Rates are calculated relative to the average school and are corrected for 2015 student body size.
      Average participation = 1, Higher than average participation >1, Lower than average participation<1.
    </p>
    <br/>
<% end %>
<!-- end of search -->
<% if @user_school.nil? %>

  <h1 id="rankings-copy">
     Submit your academic email address <a class=""href="/">here</a> and help rep your school!
  </h1>
<% else %>

  <h1 id="rankings-copy">
     Your school, so far!
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Voter Participation Rate (relative to average)*</th></tr>
    <tr><th><%=@user_school.id%></th><td>
      <%=@user_school.instnm%></td><td>
        <%=
        (
        (@user_school.participation.to_f / @user_school.enrollment2015.to_f)/ @RRavg
        ).round(2)
        %>*</td></tr>
    <p>
      *Rates are calculated relative to the average school and are corrected for 2015 student body size.
      Average participation = 1, Higher than average participation >1, Lower than average participation< 1.
    </p>

  </table>
    <br>


<% end %>

  <br/>
  <h1 id="rankings-copy">
     2016 SO FAR:
  </h1>

  <br>
  <h1 id="rankings-copy">
     The Top 5 Schools, Nationally:
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Voter Participation Rate (relative to average)*</th></tr>
  <% @top_five_schools.each_with_index do |school, index| %>
            <tr><th><%=index + 1%></th><td><%=school["instnm"]%></td><td>
              <% if school["participation"] == 0 %>
                Be the first to rep your school!</td></tr>
              <% else %>
                <%=
                ( school["average_participation"].to_f/ @RRavg).round(2)
                %></td></tr>
            <%end%>
            <%end%>

  </table>
      <p class="rate-legend">
        *Rates are calculated relative to the average school and are corrected for 2015 student body size.
        Average participation = 1, Higher than average participation >1, Lower than average participation< 1.
      </p>
    <br>

    <div class="all-schools">
      <h1 id="rankings-copy">
         All schools:
      </h1>

      <table class="uni-part">
        <tr><th>Rank</th><th>University</th><th>Student Voter Participation Rate (relative to average)*</th></tr>
        <% @schools.each_with_index do |school, index| %>
        <tr><th><%=index + 1%></th><td><%=school["instnm"]%></td><td>
          <% if school["participation"] == 0 %>
            Be the first to rep your school!</td></tr>
          <% else %>
            <%=
            ( school["average_participation"].to_f/ @RRavg).round(2)
            %></td></tr>
        <%end%>
        <%end%>
      </table>
    </div>
</div>
