<div class="rankings">
  <div id="rankings-logo-div">
    <img src="/img/UVoteLogo.png" style="border:none;height:113px;width:250px; " />
  </div>
<div class="social-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=www.u-vote.org&amp;source=fb-share" title="https://www.facebook.com/sharer/sharer.php?u=www.u-vote.org&amp;source=fb-share" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><img src="/img/share_fb.png" alt="" style="border: none; height: 45px; width: 45px; " /></a>
    </a>
    <a href="https://twitter.com/home?status=I've%20registered%20to%20vote.%20Have%20you?%20Add%20yourself%20to%20your%20University's%20tally%20and%20see%20how%20it%20ranks:%20www.u-vote.org" title="https://twitter.com/home?status=I've registered to vote. Have you? Add yourself to your University's tally and see how it ranks: www.u-vote.org" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
      <img src="/img/share_twitter.png" alt=""/>
    </a>
</div>

  <h1 id="rankings-copy">
    Check out how your school ranks:
  </h1>

  <% if @searchResults.nil? %>
    <form method="get" class="search-bar" action="/rankings">
      <input class="search_form" name="search_form" type="text">
      <input type="submit" class="school-search-button" value="Search">
    </form>
  <% else %>
    <form method="get" class="search-bar" action="/rankings">
      <input class="search_form" name="search_form" type="text" value="Search schools by name!">
      <input type="submit" class="school-search-button" value="Search">
    </form>
    <h1 id="rankings-copy">
       Search Results:
    </h1>

    <table class="uni-part">
      <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
      <% @searchResults.each_with_index do |school, index| %>
      <tr><th></th><td><%=school[:school]%></td><td><%= school[:participation].to_i/@average.to_i%></td></tr>
      <% end %>
    </table>
  <% end %>

  <h1 id="rankings-copy">
     SO FAR 2016
  </h1>

  <br>

<% if @user_school.nil? %>
  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <% @schools.each_with_index do |school, index| %>
    <tr><th><%=index + 1%></th><td><%=school.instnm%></td><td><%= school.participation.to_i/@average.to_i%></td></tr>
    <% end %>
  </table>

<% else %>
  <h1 id="rankings-copy">
     Your school, so far!
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <tr><th><%=@user_school.id%></th><td><%=@user_school.instnm%></td><td><%=@user_school.participation.to_i/@average.to_i%></td></tr>
  </table>
    <br>

  <h1 id="rankings-copy">
     The Top 5 Schools, Nationally:
  </h1>

  <table class="uni-part">
    <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
    <% @top_five_schools.each_with_index do |school, index| %>
    <tr><th><%=index + 1%></th><td><%=school.instnm%></td><td><%= school.participation.to_i/@average.to_i %></td></tr>
    <% end %>
  </table>
    <br>

  <div class="all-schools">
    <h1 id="rankings-copy">
       All schools:
    </h1>

    <table class="uni-part">
      <tr><th>Rank</th><th>University</th><th>Student Registeration (relative to average)</th></tr>
      <% @schools.each_with_index do |school, index| %>
      <tr><th><%=index + 1%></th><td><%=school.instnm%></td><td><%= school.participation.to_i/@average.to_i %></td></tr>
      <% end %>
    </table>
  </div>
<% end %>
</div>
